@charset "utf-8";

/* Header Rocketz */
html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}
.noselect{
  user-select: none;
}
.accelerated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s ;
}
@media only screen and (min-width: 1000px) {
    .menushow {
        display: none !important;
    }
    .cart-mobile-holder{
      height: 0px !important;
      margin-top: 56px;
    }
    .main-banner{
      min-height: 500px;
    }
    .fixed2 {
      transform: scale(0.8);
      top:8px !important;
    }
}
@media only screen and (max-width: 1000px) {
    .footer-addresses{
      margin: auto !important;
    }
    .logo{
      width: 50px !important;
      height: 50px !important;
      top: 30px !important;
    }
    .fixed2{
      transform: scale(0.8);
      top:14px !important;
    }
    .cart-holder{
      margin: auto !important;
      margin-left: 0 !important;
      margin-right: 16px !important;
    }
    .setup-holder{
      flex-direction: column !important;
    }
    .setup-holder-pc{
      flex-direction: column !important;
      width: 100% !important;
    }
    .setup-holder-products{
      width: 100% !important;
    }
}


@media only screen and (min-width: 768px) {
  .nav-mobile-button{
    width: 10% !important;
  }

}
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 425px) {
  .main-banner{
    height: 30% !important;
  }
  .home-content-holder{
    top:-3% !important;
  }
  .results-not-found{
    font-size: 14px !important;
  }
  .search-results-title{
    font-size: 18px !important;
  }
  .price-style {
    font-size: 14px !important;
  }
  .price-amount{
    font-size: 18px !important;
  }
  .price-style-card>d{
    font-size: 18px !important;
  }
  .setup-pc-box{
    height: 455px !important;
  }
}
@media only screen and (max-width: 375px) {
  .main-banner{
    height: 25% !important;
  }

}
@media only screen and (max-width: 360px) {
  .setup-holder-pc{
    min-width: 80% !important;
  }
  .setup-holder-products>div{
    min-width: 100% !important;
  }
}

@media only screen and (max-width:765px) {
  .setup-pc-box>.pc-box-hover>span{
    margin: auto auto 15% auto;
  }
}
@media only screen and (max-width: 991px) {
  .social-items{
    text-align: center;
    float: inherit;
  }
}

#menu-toggle {
  position: absolute;
  z-index: 3;
  font-size: 28px;
  color: #fff;
  display: flex;
  margin: 0;
  width: 48px;
  height: 72px;
}
#menu-toggle >.fa{
  margin: auto;
}

#menu-toggle:hover {
    color: #ccc;
}
.sidebar-wrapper-content {
  width: 256px;
  height: 100% ;
  background: rgba(37,37,37,1.00);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.sidebar-wrapper-content>*{
  margin: auto;
}
#sidebar-wrapper {
  overflow: hidden;
  flex-direction: row-reverse;
  position: fixed;
  height: 100%;
  transform: translateX(-256px);
  display: flex;
  background: rgba(37,37,37,1.00);
}
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
  display: none;
  transition: all 0.33s;
  transform: translateZ(0);
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 0;
  background-color: #FFF; /* A background-color is required */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  transform: translateX(0px) !important;
  transition: all 0.2s !important;
}

.sidebar-nav {
  width: 256px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  padding: 15px 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #396BD0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#sidebar-wrapper.active {
  width:100%;
}

.toggle {
  margin: 5px 5px 0 0;
}
.close-btn {
  display: flex;
  color: #FFFFFF;
  font-size: 2em;
  margin: auto;
  margin-bottom: 0;
  padding: 0;
  text-align: right;
  width: 100%;
}
.close-btn>span{
  margin: auto;
}
.close-btn:hover {
    color: #FFFFFF;
	text-decoration: none;
}
.content-holder{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  height: 100%;
}
.body-holder{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #252525;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
.sticky{
  position: fixed;
  width: 100%;
  padding: 30px 0px;
  transition: all 0.3s;
  z-index: 1;
}
.fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: transparent;
  padding: 10px 0px 0px 0px;

}


.main-navbar{
  width: calc(100%);
  height: 100%;
}
.main-navbar-items{
  display: flex;
  width: calc(50% - 30px);
  height: 72px;
  position: relative;
  z-index: 2;
  /*background: gray;*/
}
.search-holder-mobile{
  display: flex;
  height: 100%;
  margin: auto;
  margin-right: 16px;
}
.search-holder-mobile:hover>span{
  color:#ccc;
}
.search-holder-mobile>span{
  display: flex;
  color: white;
  margin: auto;
  font-size: 24px;
}
.close-search{
  color: white;
  position: absolute;
  font-size: 24px !important;
  right: 16px;
  top:16px;
  z-index: 2;
  transition: all 0.5s;
}
.close-search.inverted{
  color: #252525;
}
.close-search:hover{
  cursor: pointer;
  color: #ccc;
}
.search-results-holder.hidden>.close-search{
  visibility: hidden;
}
.search-results-holder.hidden>.search-input-mobile{
  transform: translateY(48px);
}
.search-holder{
  position: relative;
  height: 45%;
  width: 45%;
  display: flex;
  margin: auto 0 ;
  margin-left: 16px;
  background: white;
  border-radius: 3px;
}
.search-holder::before{
  content: "\f002";
  font-family: "FontAwesome";
  position: absolute;
  top: 15%;
  right: 16px;
  color:#656565;
  font-size:16px;
}
.search-input-mobile{
  background: #252525;
  display:flex;
  position: fixed;
  bottom:0;
  width: 100%;
  height: 48px;
  width: 100%;
  transition: all 0.5s;
  transform: translateY(0px);
}
.search-input-mobile>.search-holder{
  width: 100%;
  background: transparent;
  margin:0;
  height: 48px;
}
.search-input-mobile>.search-holder::before{
  content:"";
}
.search-input-mobile>.search-holder>input{
  margin: auto;
  background: transparent;
  border:none;
  border-bottom: solid 1px white;
  width:70%;
  border-radius: 0;
  color: white;
  height: 32px;
  font-family: "Saira";
  text-align: center;
  font-size: 12px;
}
.search-input-mobile-input:focus{
  outline: none;
}
.search-input{
  height: 32px;
  width: calc(100% - 54px);
  margin: auto 0 ;
  margin-left: 16px;
  font-family: "Saira";
  text-align: center;
  font-size: 12px;
  color:#656565;
  border: none;
  border-radius: 3px;
}
.search-input:focus{
  outline: none;
}
.search-results-holder.hidden{
  background: rgba(0, 0, 0, 0.0);
  visibility: hidden;
  display: flex !important;
}
.search-results-holder{
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top:72px;
  z-index: 1;
  transition: all 0.5s;
}
.search-results{
  background: white;
  position: relative;
  width: 100%;
  height: 40%;
  transition: all 0.25s;
  transform: translateY(0);
  flex-direction: column;
}
.search-results.empty{
  transform: translateY(-110%);
  transition: all 0.5s;
}
.search-results>.container{
  height: 80%;
  display: flex;
  max-height: 80%;
  flex-direction: column;
}
.search-holder-title-holder{
  display: flex;
  flex-direction: column;
}
.search-results-title{
  font-family: "Saira";
  font-size: 24px;
  padding: 16px;
  display: flex;
  font-weight: 300;
}
.search-results-title>span{
  margin-right: 16px;
}
.search-term{
  font-family: "Saira";
  font-size: 18px;
  display: flex;
  font-weight: 800;
}
.search-term>span{
  background: #858585;
  margin:auto;
  padding: 8px;
  border-radius:3px;
}
.results-holder{
  height: 100%;
  width:100%;
  overflow-y:auto;
  overflow-x: hidden;
}
.results-not-found{
  font-family: "Saira";
  font-size: 18px;
  display: flex;
  color: #c0392b;
}
.results-not-found>span{
}
.results-not-found>span>span{
  padding-right: 16px;
}
.social-holder{
  width: 15%;
  height: 100%;
  color: white;
  display: flex;
}
.social-holder.left{
  margin-left: 7%;
}
.social-holder.right{
  margin-right:  7%;
}
.social-holder > span{
  margin: auto;
  font-size: 24px;
}
.social-holder > span:hover{
  color: #ccc;
  cursor: pointer;
}
.account-buttons-holder{
  width: 60%;
  display: flex;
  height: 100%;
}
.account-button.mobile{
  width: 80%;
  margin: auto;
  padding: 0;
  margin-top: 20%;
  height: 32px;
  min-height: 32px;
}
.account-button{
  padding: 0;
  height: 32px;
  border: none;
  background: white;
  color: black;
  margin: auto;
  width: 40%;
  border-radius: 3px;
  font-family: "Saira";
  margin-right: 0;
}
.account-button > span{
  margin: auto;
  padding: 3px;
}
.account-button:focus{
  outline: none;
}
.account-button:hover{
  transform: scale(1.01);
}
.cart-holder{
  width: 18%;
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 24px;
}
.cart-holder:hover{
  color: #ccc;
  cursor: pointer;
}
.cart-holder>span{
  margin: auto;
  position: relative;
}
.cart-holder>span::after{
  content: "1";
  font-size: 9px;
  font-family: "Saira";
  position: absolute;
  bottom: -8px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  line-height: 1.334;
}

.left{
  float:left;
}
.rigth{
  float: right;
}

.logo-button-holder{
  width: 100%;
  position: absolute;
  display: flex;
}

.logo{
  margin: auto;
  display: flex;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	background-color: #252525;
	padding-left: 5px;
	width: 60px;
	height: 60px;
  transition: all 0.3s;
  top: 24px; left: 0; right: 0;
  position: absolute;
  user-select: none;
}
.logo:hover{
  cursor: pointer;
}
.logo::before{
  margin: auto;
  content: "";
  width: 80%;
  height: 80%;
  background: url("/assets/img/logo.svg");
  background-repeat: no-repeat;
  display: block;
  transition: all 0.2s;
}
.logo:hover::before{
  transform: scale(1.05);
}
.logo-full{
  width: 30%;
  padding: 16px;
}
.navbar {
	position: fixed;
	width: 100%;
	height: 72px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #252525;
	background-color:#252525;
	z-index: 2;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.navdrop {
  top:72px;
	position: fixed;
	width: 100%;
	height: 72px;
	background-color: rgba(255,255,255,1.00);
	transition: all 0.4s;
	z-index:1;
  display: flex;
  flex-direction: row;

}
.navlift {
  position: fixed;
	padding: 0 0 0 0;
	width: 100%;
	background-color: rgba(255,255,255,1.00);
	z-index: 1;
  height: 0;
}
.navlift>span{
  opacity: 0;
}
.navlift>.nav-items>div>div{
  visibility: hidden;
}
.navlift>.nav-items>div>div>*{
  opacity: 0;
  transition-delay: 0s !important;
}
.nav-mobile-button{
  color:#656565;
  font-size: 32px;
  margin: auto;
  width: 40%;
  text-align: center;
  height: 100%;
  line-height: 72px !important;
}
.nav-mobile-button:hover{
  background: #ccc;
}
.nav-items-mobile{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 0px;
  padding-left: 0px;
}
.nav-items-mobile::-webkit-scrollbar {
    height: 0px;
    background-color: transparent;
}
.nav-items{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
.nav-item-logo{
  width: 60px;
  height: 60%;
}
.nav-items-right{
  width:calc(50% - 30px);
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav-items-left{
  width:calc(50% - 30px);
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}
.nav-item{
  height: 72px;
  width: 80px;
  min-width: 80px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
	transition: all 0.25s;
}
.nav-item>*{
  transition: all 0.25s;
  transition-delay: 0.1s;
}

.item-label{
  color:#656565;
  font-family: "Saira";
  font-size: 12px;
  text-align: center;
}
.nav-item>img{
  margin: 0 auto ;
  width: 35px;
  height: 35px;
  filter: invert(1) brightness(39%);
  user-select: none;
}
.nav-item>span{
  user-select: none;
}
.nav-item:hover{
  background: #ccc;
  cursor: pointer;
}
#pricelowered {
	padding: 0 0 0 0;
	width: 100%;
	height: 72px;
	background-color: rgba(255,255,255,1.00);
	transition: all 1s;
	z-index: 2000;
}

#pricelifted {
  border-top: solid 1px #ecf0f1;
  position: absolute;
  top:100%;
	width: 100%;
	height: 56px;
	background-color: rgba(255,255,255,1.00);
  font-family: "Saira";
  font-size: 24px;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
#main-content{
  top:144px;
  height: 100%;
  position: relative;
  z-index: 0;
}
.main-banner{
  height: 40%;
  max-height: 500px;
  display: flex;
  background: #2ecc71;
  -moz-box-shadow:    inset 0 0 40px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow:         inset 0 0 40px rgba(0, 0, 0, 0.3);
}
.main-banner>div{
  display: flex;
}
.img-banner{
  margin: auto;
  margin-top: 40px;
  width: 100%;
  max-width:1060px;

}

.hidden { display: none; }

.cart-mobile-holder{
  height: 56px;
  width: 100%;
  background: #252525;
  display: flex;
  transition: all 1s;
  position: relative;
}
.cart-mobile-info-holder{
  width: 90%;
  height: 100%;
}
.cart-mobile-icon-holder{
  width:10%;
  height: 100%;
  display: flex;
}
.cart-mobile-icon-holder>span{
  color:white;
  margin: auto;
  font-size: 24px;
  position: relative;
  margin-right: 16px;
}

.cart-mobile-icon-holder>span::after{
  content: "1";
  font-size: 9px;
  font-family: "Saira";
  position: absolute;
  bottom: -8px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  line-height: 1.334;
}

.home-content-holder{
  position: relative;
  top:-15%;
}




#footer {
	background:#252525;
	width:100%;
	height: auto;
	bottom:0;
	left:0;
	font-family: "Saira";
    text-align: center;
}

.footer-content {
	color: #fff;
	padding-top: 50px;
	font-size: 18px;
	font-weight: 200;

}
.linksshow>.footer-content{
  padding-top:0;
}
.footer-content > .fa{
  padding: 8px;
}
.footer-addresses-holder{
  display: flex;
  flex-direction: column;
}
.footer-addresses {
	font-size: 12px;
	font-weight: 200;
	color: #888888;
	text-align: left;
	margin-left: 30%;
  display: flex;
  padding-top: 16px;
}
.footer-addresses > span{
  margin: auto;
}
.footer-addresses > .fa{
  color: #fff;
  font-size: 35px;
  padding: 16px;
  position: relative;
  display: flex;
}
.footer-addresses > .fa::after{
  content: attr(data-location);
  position: absolute;
  color:white;
  font-family: "Saira";
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
}

.social-footer-holder {
	padding-bottom: 25px;
	display: flex;
}
.social-footer-holder >div{
  color: #888888;
  font-family: "Saira";
  font-weight: 100;
  text-align: left;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
.social-footer-holder >div>div{
  margin: auto;
  width: 35%;
  display: flex;
  padding: 16px;
}
.social-footer-holder >.fa{
  width:auto !important;
}

.social-footer-holder>div>div:hover{
  color:white;
  cursor: pointer;
}

.social-adjust {
	padding-bottom: 15px;

}


.soc-icons {
	padding-right: 5px;
	font-size: 25px !important;

}

.newsletter-content {
	color: #888888;
	font-family: "Saira";
	font-weight: 100;
	text-align: left;
}

.newsletter-holder{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto 0 ;
  background: white;
  border-radius: 3px;
}
.newsletter-holder::before{
  content: "\f0e0";
  font-family: "FontAwesome";
  position: absolute;
  top: 15%;
  right: 16px;
  color:#656565;
  font-size:16px;
}
.newsletter-holder>::before:hover{
  color:#252525;
  cursor: pointer;
}
.newsletter-input{
  height: 32px;
  width: calc(100% - 54px);
  margin: auto 0 ;
  margin-left: 16px;
  font-family: "Saira";
  text-align: center;
  font-size: 12px;
  color:#656565;
  border: none;
  border-radius: 3px;
}
.newsletter-input:focus{
  outline: none;
}
.links-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.links-content {
	color: #888888;
	font-family: "Saira";
	font-weight: 100;
	text-align: left;
	font-size: 15px;
	padding-bottom: 30px;
	padding-right: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.links-holder>div{
	color: #888888;
	font-family: "Saira";
	font-weight: 100;
	text-align: left;
	font-size: 15px;
  margin: auto;
  display: flex;
  padding: 16px
}
.links-holder>div:hover{
  color:white;
  cursor: pointer;
}
.footer-ending {
	color: #888888;
	font-size: 12px;
	padding-top: 10px;

}
.img-footer{
  width: 100%;
  padding: 16px;
}
.copyright-footer{
  clear: both;
}
.close-menustyle {
	font-family: "Saira";
	font-weight: 500;
	text-align: center;
	font-size: 20px;
	height: 50px;
  color: #ccc;
}

.sidebar-text {
	font-family: "Saira";
	font-weight: 200;
}

@media only screen and (max-width: 991px) {
    .socialshow {
        display: none;
    }
	.linksshow {
        display: none;
    }
	}

.myaccount {
	background: #252525;
	height: 72px;
	font-family: "Saira";
	font-weight: 100;
}

.sidebar-menutext {
	color: rgba(176,176,176,1.00) !important;
	font-family: "Saira";
	font-weight: 100;
	font-size: 13px !important;
	line-height: 20px !important;
}
.sidebar-nav>li>a{
  text-decoration: none;
}
.sidebar-nav>li>a:hover{
  color: #ccc;
}
.social-mobile {
	color: #fff;
	position: relative;
  text-decoration: none;
}
.social-mobile:hover{
  color:#ccc;
}
.social-wrap {
	width: 250px;
	display: block;
	clear: both;
  margin-bottom: 16px;
  margin-top: 16px;
}
.sidebar-label{
  color: #ccc;
  font-family: "Saira";
  font-weight: 200;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.sidebar-label>.fa{
  padding: 3px;
}
.setup-holder{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 510px;
}
.setup-holder-pc{
  width: 30%;
  display: flex;
  min-width: 330px;
  margin: auto;
}
.setup-holder-pc>div{
  margin:0 auto;
}
.setup-holder-products{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-width: 70%;
  margin: 0 auto;
}
.setup-holder-products>div{
  margin: auto;
  min-width: 310px;
  width: 50%;
}
.setup-pc-box{
  height: 510px;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  position: relative;
  max-width: 330px;
  margin: auto;
}
.setup-pc-box::before{
  content: "";
  border-radius: 7px;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  visibility: hidden;
  transition: all 0.2s;
  background: rgba(0,0,0,0.0);
}
.setup-pc-box:hover{
  cursor: pointer;
}
.setup-pc-box:hover::before{
  content:"";
  text-align: center;
  visibility: visible;
  color:white;
}
.setup-pc-box:hover>.pc-box-hover{
  visibility: visible;
  transition: all 1s;
  opacity: 1;
}
.pc-box-hover{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
  color: #252525;
  font-size: 20px;
  font-family: "Saira";
  margin: auto;
  transition: all 1s;
  opacity: 0;
  bottom: 0;
}
.pc-box-hover>span{
  height: auto;
  margin: auto auto 20% auto;
}
.setup-pc-box:hover>img{
  transform: scale(1.1);
}
.setup-pc-box>img{
  width: 80%;
  margin: auto;
  transition: all 0.5s;
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
.pc-box-title{
  margin-top:16px;
  height: 56px;
  display: flex;
}
.pc-box-title>span>img{
  height: 100%;
}
.pc-box-title> span {
	align-content: center;
	font-size: 25px;
	font-family: "Saira";
	font-weight: 400;
  margin: auto;
  height: 100%;
}
.pc-box-price{
  position: relative;
  z-index: 1;
  display: flex;
}
.setup-product-box{
  height: 200px;
  background: white;
  max-width: 330px;
  width: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}
.setup-product-box::before{
  content: "";
  border-radius: 7px;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  visibility: hidden;
  transition: all 0.2s;
}
.setup-product-box:hover>.setup-product-box-top>.setup-product-box-img-holder>img{
  transform: scale(1.1);
}
.setup-product-box:hover{
  cursor: pointer;
}
.setup-product-box:hover::before{
  content:"";
  text-align: center;
  visibility: visible;
  color:white;
}
.setup-product-box>.pc-box-hover>span{
  margin: auto auto 35% auto;
}
.setup-product-box>.pc-box-hover{
  width: 60%;
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}
.setup-product-box:hover>.pc-box-hover{
  visibility: visible;
  transition: all 1s;
  opacity: 1;
}
.setup-product-box-top{
  display: flex;
  height: 70%;
  flex-direction: row;
}
.setup-product-box-bottom{
  display: flex;
  height: 30%;
  flex-direction: row;
}
.setup-product-box-title-holder{
  width: 60%;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.setup-product-box-img-holder{
  width: 40%;
  height: 100%;
  display: flex;

}
.setup-product-box-img-holder>img{
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  transition: all 0.5s;
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}
.setup-product-box-price-holder{
  display: flex;
  height: 100%;
  width: 100%;
}
.setup-product-box-price-holder{
  position: relative;
  z-index: 1;
  display: flex;
}
.setup-product-box-category{
  font-size: 20px;
  font-family: "Saira";
  font-weight: 600;
  margin: 0 auto;
  padding-top: 16px;
  padding-left: 16px;
}
.setup-product-box-title{
  font-size: 14px;
  font-family: "Saira";
  font-weight: 500;
  margin: 0 auto;
  padding-top: 8px;
  padding-left: 16px;
  text-align: center;
}
.price-style {
	text-align: center;
	color: #A0A0A0;
	padding-right: 0px;
	font-family: "Saira";
	font-weight: 300;
	font-size: 17px;
  margin: auto;
}

.price-style-card {
	text-align: center;
	color: #A0A0A0;
	padding-left: 0px;
	font-family: "Saira";
	font-weight: 300;
	font-size: 13px;
  margin: auto;
}

.price-style-card>d {
	color: #e74c3c;
	font-size: 21px;
	padding-left: 2px;
	font-weight: 400;

}

.price-amount {
	text-align: center;
	color: #e74c3c;
	font-family: "Saira";
	font-weight: 400;
	font-size: 21px;
}

.setup-products {
	padding-left: 5px;
	padding-top: 20px;
	text-align: left;

}

.setup-products>z {
	font-weight: 400;
	text-align: left;
}

.row-adjust {
	padding-top: 90px;
}
