@charset "utf-8";

/* Header Rocketz */
html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}
.accelerated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s ;
}
@media only screen and (min-width: 1000px) {
    .menushow {
        display: none;
    }
    .cart-mobile-holder{
      height: 0px !important;
      margin-top: 56px;
    }
    .main-banner{
      min-height: 500px;
    }
}
@media only screen and (max-width: 1000px) {
    .footer-addresses{
      margin: auto !important;
    }
    .img-footer{
      width: 50% !important;
    }
}


@media only screen and (min-width: 768px) {
  .nav-mobile-button{
    width: 10% !important;
  }
}
@media only screen and (max-width: 425px) {
  .main-banner{
    height: 30% !important;
  }
  .home-content-holder{
    top:-3% !important;
  }
}
@media only screen and (max-width: 375px) {
  .main-banner{
    height: 25% !important;
  }
}

@media only screen and (max-width: 991px) {
  .social-items{
    text-align: center;
	float: inherit;

  }
}

#menu-toggle {
    z-index: 1;
    font-size: 32px;
    float: right;
    /*border: 1px solid #fff;*/
    color: #fff;
    margin: 17px 10px;
    padding: 0px 6px;
    line-height: 0;
  	height: 35px;
  	width: 35px;
}

#menu-toggle:hover {
    background: #4E4E4E;
    border-color: #fff;
    color: #fff;
}
.sidebar-wrapper-content {
  width: 256px;
  height: 100%;
  background: rgba(65,65,65,1.00);
  overflow-y: auto;
}
#sidebar-wrapper {
  overflow: hidden;
  flex-direction: row-reverse;
  position: fixed;
  height: 100%;
  width:0;
  display: flex;
}
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
  display: none;
  transition: all 0.2s;
  transform: translateZ(0);
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 0;
  background-color: #FFF; /* A background-color is required */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  width: 256px !important;
}

.sidebar-nav {
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  padding: 15px 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #396BD0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#sidebar-wrapper.active {
  width:100%;
}

.toggle {
  margin: 5px 5px 0 0;
}
.close-btn {
  display: block;
  color: #FFFFFF;
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
  padding-right: 25px;
}
.close-btn:hover {
    color: #FFFFFF;
	text-decoration: none;
}
.content-holder{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  height: 100%;
}
.body-holder{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #252525;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
.sticky{
  position: fixed;
  width: 100%;
  padding: 30px 0px;
  transition: all 0.3s;
  z-index: 1;
}
.fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: transparent;
  padding: 10px 0px 0px 0px;

}
.fixed2 {
  width: 50px !important;
  height: 50px!important;
  top:8px !important;
}

.main-navbar{
  width: calc(100%);
  height: 100%;
}
.main-navbar-items{
  display: flex;
  width: calc(50% - 30px);
  height: 72px;
  position: relative;
  z-index: 2;
  /*background: gray;*/
}

.search-holder{
  position: relative;
  height: 45%;
  width: 45%;
  display: flex;
  margin: auto 0 ;
  margin-left: 16px;
  background: white;
  border-radius: 3px;
}
.search-holder::before{
  content: "\f002";
  font-family: "FontAwesome";
  position: absolute;
  top: 15%;
  right: 16px;
  color:#656565;
  font-size:16px;
}
.search-input{
  height: 32px;
  width: calc(100% - 54px);
  margin: auto 0 ;
  margin-left: 16px;
  font-family: "Saira";
  text-align: center;
  font-size: 12px;
  color:#656565;
  border: none;
  border-radius: 3px;
}
.search-input:focus{
  outline: none;
}
.search-results-holder{
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top:72px;
}
.search-results{
  background: white;
  position: relative;
  width: 100%;
  height: 40%;
}
.social-holder{
  width: 15%;
  height: 100%;
  color: white;
  display: flex;
}
.social-holder.left{
  margin-left: 7%;
}
.social-holder.right{
  margin-right:  7%;
}
.social-holder > span{
  margin: auto;
  font-size: 24px;
}
.social-holder > span:hover{
  color: #ccc;
  cursor: pointer;
}
.account-buttons-holder{
  width: 60%;
  display: flex;
  height: 100%;
}
.account-button{
  padding: 0;
  height: 32px;
  border: none;
  background: white;
  color: black;
  margin: auto;
  width: 40%;
  border-radius: 3px;
  font-family: "Saira";
  margin-right: 0;
}
.account-button > span{
  margin: auto;
  padding: 3px;
}
.account-button:focus{
  outline: none;
}
.account-button:hover{
  transform: scale(1.01);
}
.cart-holder{
  width: 18%;
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 24px;
}
.cart-holder:hover{
  color: #ccc;
}
.cart-holder>span{
  margin: auto;
  position: relative;
  cursor: pointer;
}
.cart-holder>span::after{
  content: "1";
  font-size: 9px;
  font-family: "Saira";
  position: absolute;
  bottom: -8px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  line-height: 1.334;
}

.left{
  float:left;
}
.rigth{
  float: right;
}

.logo-button-holder{
  width: 100%;
  position: absolute;
  display: flex;
}

.logo{
  margin: auto;
  display: flex;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	background-color: #252525;
	padding-left: 5px;
	width: 60px;
	height: 60px;
  transition: all 0.5s;
  top: 24px; left: 0; right: 0;
  position: absolute;
  user-select: none;
}
.logo:hover{
  cursor: pointer;
}
.logo::before{
  margin: auto;
  content: "";
  width: 80%;
  height: 80%;
  background: url("/assets/img/logo.svg");
  background-repeat: no-repeat;
  display: block;
}
.logo:hover::before{
  transform: scale(1.05);
}
.logo-full{
  width: 30%;
  padding: 16px;
}
.navbar {
	position: fixed;
	width: 100%;
	height: 72px;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #252525;
	background-color:#252525;
	z-index: 2;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.navdrop {
  top:72px;
	position: fixed;
	width: 100%;
	height: 72px;
	background-color: rgba(255,255,255,1.00);
	transition: all 0.4s;
	z-index:1;
  display: flex;
  flex-direction: row;

}
.navlift {
  position: fixed;
	padding: 0 0 0 0;
	width: 100%;
	background-color: rgba(255,255,255,1.00);
	z-index: 1;
  height: 0;
}
.navlift>span{
  opacity: 0;
}
.navlift>.nav-items>div>div{
  opacity: 0;
}
.nav-mobile-button{
  color:#656565;
  font-size: 32px;
  margin: auto;
  width: 40%;
  text-align: center;
  height: 100%;
  line-height: 72px !important;
}
.nav-mobile-button:hover{
  background: #ccc;
}
.nav-items-mobile{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding-right: 0px;
  padding-left: 0px;
}
.nav-items-mobile::-webkit-scrollbar {
    height: 0px;
    background-color: transparent;
}
.nav-items{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
.nav-item-logo{
  width: 60px;
  height: 60%;
}
.nav-items-right{
  width:calc(50% - 30px);
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav-items-left{
  width:calc(50% - 30px);
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}
.nav-item{
  height: 100%;
  width: 80px;
  min-width: 80px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
	transition: all 0.25s;
}

.item-label{
  color:#656565;
  font-family: "Saira";
  font-size: 12px;
  text-align: center;
}
.nav-item>img{
  margin: 0 auto ;
  width: 35px;
  height: 35px;
  filter: invert(1) brightness(39%);
  user-select: none;
}
.nav-item>span{
  user-select: none;
}
.nav-item:hover{
  background: #ccc;
  cursor: pointer;
}
#pricelowered {
	padding: 0 0 0 0;
	width: 100%;
	height: 72px;
	background-color: rgba(255,255,255,1.00);
	transition: all 1s;
	z-index: 2000;
}

#pricelifted {
  border-top: solid 1px #ecf0f1;
  position: absolute;
  top:100%;
	width: 100%;
	height: 56px;
	background-color: rgba(255,255,255,1.00);
  font-family: "Saira";
  font-size: 24px;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
#main-content{
  top:144px;
  height: 100%;
  position: relative;
  z-index: 0;
}
.main-banner{
  height: 40%;
  display: flex;
  background: #2ecc71;
  -moz-box-shadow:    inset 0 0 40px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow:         inset 0 0 40px rgba(0, 0, 0, 0.3);
}
.main-banner>div{
  display: flex;
}
.img-banner{
  margin: auto;
  margin-top: 40px;
  width: 100%;
  max-width:1060px;

}

.hidden { display: none; }

.cart-mobile-holder{
  height: 56px;
  width: 100%;
  background: #252525;
  display: flex;
  transition: all 1s;
  position: relative;
}
.cart-mobile-info-holder{
  width: 90%;
  height: 100%;
}
.cart-mobile-icon-holder{
  width:10%;
  height: 100%;
  display: flex;
}
.cart-mobile-icon-holder>span{
  color:white;
  margin: auto;
  font-size: 24px;
  position: relative;
  margin-right: 16px;
}

.cart-mobile-icon-holder>span::after{
  content: "1";
  font-size: 9px;
  font-family: "Saira";
  position: absolute;
  bottom: -8px;
  width: 10px;
  height: 10px;
  border-radius: 3px;
  text-align: center;
  margin: auto;
  line-height: 1.334;
}

.home-content-holder{
  position: relative;
  top:-15%;
  border: solid 1px;
}




#footer {
	background:#252525;
	width:100%;
	height: auto;
	bottom:0;
	left:0;
	font-family: "Saira";
    text-align: center;
}

.footer-content {
	color: #fff;
	padding-top: 50px;
	font-size: 18px;
	font-weight: 200;
}
.footer-content > .fa{
  padding: 8px;
}
.footer-addresses-holder{
  display: flex;
  flex-direction: column;
}
.footer-addresses {
	font-size: 12px;
	font-weight: 200;
	color: #888888;
	text-align: left;
	margin-left: 30%;
  display: flex;
  padding-top: 16px;
}
.footer-addresses > span{
  margin: auto;
}
.footer-addresses > .fa{
  color: #fff;
  font-size: 35px;
  padding: 16px;
  position: relative;
  display: flex;
}
.footer-addresses > .fa::after{
  content: attr(data-location);
  position: absolute;
  color:white;
  font-family: "Saira";
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
}

.social-items {
	color: #888888;
	font-family: "Saira";
	font-weight: 100;
	text-align: left;
	padding-bottom: 25px;
  display: flex;
  flex-direction: column;
	font-size: 15px;
}
.social-items>div{
  margin: auto;
}

.social-adjust {
	padding-bottom: 15px;

}


.soc-icons {
	padding-right: 5px;
	font-size: 25px !important;

}

.newsletter-content {
	color: #888888;
	font-family: "Saira";
	font-weight: 100;
	text-align: left;
}

.newsletter-holder{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  margin: auto 0 ;
  background: white;
  border-radius: 3px;
}
.newsletter-holder::before{
  content: "\f0e0";
  font-family: "FontAwesome";
  position: absolute;
  top: 15%;
  right: 16px;
  color:#656565;
  font-size:16px;
}
.newsletter-holder>::before:hover{
  color:#252525;
  cursor: pointer;
}
.newsletter-input{
  height: 32px;
  width: calc(100% - 54px);
  margin: auto 0 ;
  margin-left: 16px;
  font-family: "Saira";
  text-align: center;
  font-size: 12px;
  color:#656565;
  border: none;
  border-radius: 3px;
}
.newsletter-input:focus{
  outline: none;
}

.links-content {
	color: #888888;
	font-family: "Saira";
	font-weight: 100;
	text-align: left;
	font-size: 15px;
	padding-bottom: 30px;
	padding-right: 15px;
  display: flex;
  flex-direction: column;
}
.links-content>div{
  margin: auto;
  display: flex;
}
.links-content>div:hover{
  color:white;
  cursor: pointer;
}
.links-content>div>.links-label{
  margin: auto;
}




.footer-ending {
	color: #888888;
	font-size: 12px;
	padding-top: 10px;
	margin-left: 10%;

}
.img-footer{
  width: 100%;
  padding: 16px;
}

.close-menustyle {
	position: absolute;
	background-color: #c0392b;
	font-family: "Saira";
	font-weight: 400;
	text-align: center;
	font-size: 20px;
	height: 50px;
	padding-top: 10px;
	bottom: 0;
}

.sidebar-text {

	font-family: "Saira";
	font-weight: 200;
}

@media only screen and (max-width: 991px) {
    .socialshow {
        display: none;
    }
	.linksshow {
        display: none;
    }
	}

.myaccount {
	background: #252525;
	height: 72px;
}
